body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: rgb(222, 222, 222);
    font-weight: bold;
}
.section {
    color: rgb(222, 222, 222);
}
.link:hover {
    text-decoration: none;
    color: rgb(108, 216, 131);
}
.wrapper {
    flex: 1;
}

.bg-aux-1 {
    background-color: rgb(86, 157, 197);
    box-shadow: 3px 3px 15px rgb(69, 69, 69);
}
.bg-footer {
    background-color: rgb(86, 157, 197);
}
.bg-footer-1 {
    background-color: rgb(77, 125, 152);
}
.contShadow {
    box-shadow: 3px 3px 15px rgb(69, 69, 69);
}

.numSales {
    max-width: 4rem;
}

.lab {
    font-size: 1.2rem;
}
.errorMessage {
    opacity: 0;
    transition: 0.3s ease;
}

#years {
    border-top: 3px solid rgba(0, 123, 147, 1);
    max-width: 90px;
    background-color: rgba(86, 157, 197, 0.4);
}
